[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "pbinspanish.github.io"]
	path = pbinspanish.github.io
	url = https://github.com/pbinspanish/pbinspanish.github.io.git
