<!DOCTYPE html>
<html class="font-inter text-black dark:text-base-200 bg-paper dark:bg-black selection:bg-cyan-100 dark:selection:bg-cyan-800">
<!-- Head -->
{{- partial "head.html" . -}}

<!-- Body -->

<body class="">
    <div class="min-h-dvh">
        <!-- Header -->
        {{- partial "header.html" . -}}

        <!-- Content Block -->
        <div class="w-full min-h-[calc(100dvh-42px)]">
            {{- block "main" . }}
            {{- end }}
        </div>
    </div>
    <!-- Footer -->
    {{- partial "footer.html" . -}}
</body>

</html>