{{ define "main" }}
<div class="index-background img-fluid">
    <div class="container index-text pt-5">
        <div class="row align-items-top index-minheight"></div>
        <div class="row align-items-top index-minheight">
            <div class="col-6"></div>
            <div class="col-6">
                <h1 class="index-h1">404 Not Found</h1>
                <p class="index-p">Sorry, but that page doesn't seem to exist. Why not read something on my <a href="/posts/">Blog</a> instead?</p>
            </div>
        </div>
    </div>
</div>
{{ end }}