{{ define "main" }}
<div class="index-background img-fluid">
    <div class="container index-text pt-5">
        <div class="row align-items-top index-minheight"></div>
        <div class="row align-items-top index-minheight">
            <div class="col-6"></div>
            <div class="col-6">
                <h1 class="index-h1">Hi, I'm Josiah.</h1>
                <p class="index-p">I'm interested in a lot of things; hopefully something here also interests you.
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}