{{ define "main" }}
<div class="index-background img-fluid">
    <div class="container d-flex align-items-stretch h-100 2-100">
        <div class="row justify-content-end align-items-center">
            <div class="col-lg-6">
                <h1 class="index-h1">Josiah Henson</h1>
                <p class="index-p">Hi there! I'm a computer science student studying at the University of Windsor. I love problem solving and technology, and I'm open for Computer Science related positions. Feel free to reach out to my email <a class="index-a" href="mailto:JosiahJ.H@outlook.com">here</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}