<!doctype html>
<html
  class="font-inter dark:text-base-200 bg-paper text-black selection:bg-cyan-100 dark:bg-black dark:selection:bg-cyan-800"
>
  <!-- Head -->
  {{- partial "head/head.html" . -}}


  <!-- Body -->

  <body class="">
    <div class="min-h-dvh">
      <!-- Header -->
      {{- partial "header.html" . -}}


      <!-- Content Block -->
      <div class="min-h-[calc(100dvh-42px)] w-full">
        {{- block "main" . }}
        {{- end }}
      </div>
    </div>
    <!-- Footer -->
    {{- partial "footer.html" . -}}
  </body>

  {{- partial "head/post.html" -}}
</html>
