{{ define "main" }}
  <div class="mx-auto w-full max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-5xl">
    <div class="mx-8 my-12 flex flex-col gap-8">
      <!-- Title -->
      <div class="mb-6 text-4xl font-bold">
        <h1>{{ .Title }}</h1>
      </div>

      <!-- List Entries -->
      {{ range .Pages.ByPublishDate.Reverse }}
        <div class="mb-3 flex items-center">
          <a
            href="{{ .RelPermalink }}"
            title="{{ .Title }}"
            class="text-decoration-none flex flex-col items-start transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
          >
            <div class="flex flex-row items-center">
              <span class="text-base-600 dark:text-base-500 text-md me-4">
                {{ .Date | time.Format "2006-01-02" }}
              </span>
              <span class="flex flex-col">
                <span class="text-semibold text-xl">{{ .Title }}</span>
              </span>
            </div>

            <div class="flex flex-row">
              <span
                class="text-base-600 dark:text-base-500 text-md invisible me-4"
              >
                {{ .Date | time.Format "2006-01-02" }}
              </span>
              <span class="flex flex-col">
                <div class="text-md text-base-600 dark:text-base-500">
                  {{ .Summary }}
                </div>
              </span>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
