@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --background-transparent: rgba(255, 255, 255, 0.5);

        --link: #464646;
        --link-hover: #000000;
        --link-disabled: #616161;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-transparent: rgba(0, 0, 0, 0.5);

        --link: #FAFAFA;
        --link-hover: #ffffff;
        --link-disabled: #BDBDBD;
    }
}

body {
    font-family: 'Lato', 'Segoe UI', sans-serif !important;
}

.custom-nav-link {
    color: var(--link);
    transition: border-bottom 0.05s, color 0.05s;
}
.custom-nav-link:hover {
    color: var(--link-hover);
    border-bottom: 2px solid #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.custom-nav-background {
    background-color: var(--background-transparent);
    backdrop-filter: blur(50px);
}

.index-background {
    background-image: url('/images/header2.jpg');
    background-position: 33% 50%;
    height: 100vh;
    width: 100vw;
}

.index-text {
    height: inherit;
    width: inherit;
}

.index-minheight {
    min-height: 25vh;
}

.index-h1 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 15px #000;
}

.index-p {
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 0px 15px #000;
}

.footer-link, .footer-link:link, .footer-link:visited, .footer-link:active {
    color: #000;
    opacity: 0.5;
    transition: opacity 0.1s;
}
.footer-link:hover {
    opacity: 1.0;
}