{{ define "main" }}
<div class="container d-flex justify-content-center mt-4">
    <div class="col-lg-8">
        <!-- Title -->
        <div class="row">
            <h1>{{ .Title }}</h1>
        </div>

        <!-- Metadata -->
        <div class="row">
            {{ partial "metadata.html" . }}
        </div>

        <!-- Hero Image -->
        {{ $img := $.Page.Resources.GetMatch "thumb"}}
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <img src="{{ .Permalink }}/images/thumb.jpg" alt="post image" class="rounded img-fluid w-100">
            </div>
        </div>

        <!-- Content -->
        {{ .Content }}
    </div>
</div>
{{ end }}