{{ define "main" }}
  <div class="mx-auto w-full max-w-3xl">
    <div class="mx-8 my-12">
      <!-- Title -->
      <h1 class="mb-6 text-4xl font-bold">{{ .Title }}</h1>

      <!-- Hero Image -->
      {{ $img := $.Page.Resources.GetMatch "thumb" }}
      <div class="mb-8">
        <img
          src="{{ .Permalink }}images/thumb.jpg"
          alt="post image"
          class="w-full rounded-xl"
        />
      </div>

      <!-- Content -->
      <div class="text-xl">
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
