<nav
  class="bg-base-50/70 dark:bg-base-950/90 sticky top-0 z-50 w-full py-0 backdrop-blur-xl"
>
  <div class="mx-auto w-full max-w-3xl">
    <div class="mx-8 flex items-stretch">
      <a class="flex grow items-center no-underline" href="/">
        <h5
          class="mb-0 py-2 text-lg font-bold transition-colors duration-150 ease-in-out hover:text-cyan-400 hover:dark:text-cyan-600"
        >
          Josiah Henson
        </h5>
      </a>

      <div class="hidden md:flex md:grow md:items-stretch md:justify-end">
        <ul class="flex items-stretch">
          {{ range .Site.Menus.main }}
            <li class="mx-1 flex items-stretch">
              <a
                class="border-y-4 border-y-transparent px-1 py-2 no-underline transition-colors duration-150 ease-in-out hover:border-b-cyan-400 hover:text-cyan-400 hover:dark:border-b-cyan-600 hover:dark:text-cyan-600"
                href="{{ .URL }}"
              >
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

      <div class="relative ms-4 flex items-stretch">
        <button
          type="button"
          class="inline-flex cursor-pointer items-center justify-center hover:text-cyan-400 hover:dark:text-cyan-600"
          id="theme-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
        >
          <div class="inline h-5 w-5" id="selected-theme-icon">
            <i data-lucide="sun-moon" class="h-5 w-5"></i>
          </div>
          <i data-lucide="chevron-down" class="ms-1 inline h-4 w-4"></i>
        </button>
        <div
          id="theme-menu"
          class="bg-base-50 dark:bg-base-900 z-100 absolute right-0 mt-10 hidden min-w-32 rounded-md shadow-md"
        >
          <fieldset id="theme-picker" class="flex flex-col py-2">
            <label
              class="hover:bg-base-150 dark:hover:bg-base-850 flex cursor-pointer items-center justify-start px-4 py-2 hover:text-cyan-400 hover:dark:text-cyan-600"
            >
              <input
                class="hidden"
                name="theme"
                type="radio"
                value="auto"
                checked
              />
              <i data-lucide="sun-moon" class="me-2 h-4 w-4"></i>
              Auto
              <i
                data-lucide="check"
                id="auto-check"
                class="ms-auto h-4 w-4"
              ></i>
            </label>
            <label
              class="hover:bg-base-150 dark:hover:bg-base-850 flex cursor-pointer items-center px-4 py-2 hover:text-cyan-400 hover:dark:text-cyan-600"
            >
              <input class="hidden" name="theme" type="radio" value="light" />
              <i data-lucide="sun" class="icon-sun me-2 h-4 w-4"></i>
              Light
              <i
                data-lucide="check"
                id="light-check"
                class="invisible ms-auto h-4 w-4"
              ></i>
            </label>
            <label
              class="hover:bg-base-150 dark:hover:bg-base-850 flex cursor-pointer items-center px-4 py-2 hover:text-cyan-400 hover:dark:text-cyan-600"
            >
              <input class="hidden" name="theme" type="radio" value="dark" />
              <i data-lucide="moon" class="icon-moon me-2 h-4 w-4"></i>
              Dark
              <i
                data-lucide="check"
                id="dark-check"
                class="invisible ms-auto h-4 w-4"
              ></i>
            </label>
          </fieldset>
        </div>
      </div>

      <div class="ms-4 flex items-center md:hidden">
        <button
          id="mobile-menu-button"
          class="inline-flex cursor-pointer items-center justify-center rounded-md hover:text-cyan-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-400 dark:hover:text-cyan-600"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <i data-lucide="menu" class="block h-6 w-6" aria-hidden="true"></i>
          <i data-lucide="x" class="hidden h-6 w-6" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mx-auto hidden max-w-xl md:hidden" id="mobile-menu">
    <div class="mx-8 space-y-1 pb-3 pt-2">
      {{ range .Site.Menus.main }}
        <a
          href="{{ .URL }}"
          class="block border-y-4 border-y-transparent py-2 text-base font-medium transition-colors duration-150 ease-in-out hover:border-b-cyan-400 hover:text-cyan-400 hover:dark:border-b-cyan-600 hover:dark:text-cyan-600"
          aria-current="page"
        >
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
        </a>
      {{ end }}
    </div>
  </div>
</nav>
