{{ define "main" }}
<div class="bg-[url('/images/hero.jpg')] bg-[17%_40%] bg-cover bg-no-repeat h-[calc(100vh-42px)] w-full">
    <div class="container mx-auto flex items-stretch h-full">
        <div class="w-full flex justify-end items-center">
            <div class="w-full lg:w-1/2 bg-paper dark:bg-black/90 backdrop-blur-xl p-8 rounded-lg shadow-lg mx-8">
                <h1 class="text-4xl font-bold mb-4">Josiah Henson</h1>
                <p class="text-xl">
                    Hi there! I'm a computer science student studying at the University of Windsor. I love problem
                    solving and technology, and I'm open for Computer Science related positions. Feel free to reach out
                    to my email
                    <a class="underline hover:text-cyan-400 hover:dark:text-cyan-600 transition-colors duration-150 ease-in-out" href="mailto:JosiahJ.H@outlook.com">here</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}