<div id="nav-border" class="container-fluid custom-nav-background fixed-top">
    <div class="container">
        <nav id="nav" class="nav navbar-expand-lg">
            <div class="flex-fill my-2">
                <a class="header-title-link" href="/">
                    <h5 class="mb-0 custom-text header-title">Josiah Henson</h5>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleable" aria-controls="toggleable" aria-expanded="false" aria-label="Toggle navigation">
                <i data-feather="menu"></i>
            </button>

            <div class="collapse navbar-collapse flex-grow-0" id="toggleable">
                <div class="nav ml-auto">
                    <ul class="navbar-nav">
                        {{ range .Site.Menus.main }}
                            <li class="nav-item">
                                <a class="nav-link custom-nav-link" href="{{ .URL }}">
                                {{ $text := print .Name | safeHTML }}
                                {{ $text }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>