{{ define "main" }}
<div class="container d-flex justify-content-center mt-4">
    <div class="col-lg-8">
        <!-- Title -->
        <div class="row">
            <h1>{{ .Title }}</h1>
        </div>

        <!-- Links -->
        <div class="row gx-2">
            {{ range .Pages.ByWeight }}
    
            <div class="col-sm-4 mt-2">
                <div class="card h-100">
                    <div class="card-body">
                        <a href="{{ .Page.Params.Link }}" target="_blank" title="{{ .Title }}" class="stretched-link text-decoration-none">
                        </a>
                        <h5 class="mb-1">
                            <i class="bi {{ .Page.Params.BootstrapIconClass }} me-1"></i>
                            {{ .Title }}
                        </h5> 
                        <p class="text-faded">
                            {{ .Description }}
                        </p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}